<div class="flex h-20 w-full">
  <div
    class="w-4 text-sm flex items-center justify-center rounded-tl-[16px] rounded-bl-[16px] text-whit bg-[#CEAB0F]"
  ></div>
  <div
    class="bg-white w-full flex items-center justify-between rounded-[8px] relative right-2 p-4"
  >
    <div class="flex items-center gap-4">
      <img
        class="w-12 h-12"
        [src]="type === CardType.VISA ? 'visa.svg' : 'master-card.svg'"
        alt="card type"
      />
      <span>**** {{ lastDigits }}</span>
    </div>
    <img class="w-6 h-6" src="remove.svg" alt="remove" />
  </div>
</div>
