.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 0.3s ease;
}
.modal {
  width: 100%;
  max-width: 480px;
  background: white;
  height: 620px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0 24px 24px 24px;
  animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
