<form
  [formGroup]="addForm"
  class="flex relative flex-col gap-1 mt-4"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-4">
    <div class="flex justify-between mb-4">
      <h3 class="text-xl">Добавление операции</h3>
      <mat-icon (click)="onClose()">close</mat-icon>
    </div>
    <section class="border-b-1 border-b-gray-300 pb-4">
      <div class="flex gap-2 align-center justify-around flex-row">
        @for (option of operationTypes; track option) {
        <app-selector
          class="basis-1/2"
          [label]="option.label"
          (click)="loadCategories(option.value)"
          [isActive]="selectedOperationTypes === option.value"
        ></app-selector>
        }
      </div>
    </section>
    @if (type) {
    <section class="border-b-1 border-b-gray-300 pb-4 flex flex-col gap-4">
      <span
        class="text-sm text-[#CEAB0F] text-right font-bold"
        (click)="isCreateModalOpen.set(true)"
        >Добавить</span
      >
          @if(isCreateModalOpen()) {
      <input  placeholder="Введите на" />
      }
      <div class="flex gap-2 align-center start flex-row">
        @for (category of categories(); track category.id) {
        <app-selector
          class="basis-1/2"
          [label]="category.name"
          (click)="category.name = category.name"
          [isActive]="selectedCategory === category.name"
        ></app-selector>
        }
      </div>
  
    </section>
    } @if (addForm.get('category')?.value) {
    <div class="flex flex-col gap-1">
      <mat-form-field>
        <mat-label>Дата операции</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="flex flex-col">
        <label>Комментарии</label>
        <input
          formControlName="comment"
          class="text-sm"
          type="text"
          placeholder="Введите комментарии "
        />
      </div>
      <div class="flex flex-col">
        <label>Сумма операции</label>
        <input
          formControlName="amount"
          class="text-sm"
          type="number"
          placeholder="Сумма операции"
        />
      </div>
    </div>
    }
  </div>
  <app-button title="Добавить"></app-button>
</form>
