@use "tailwindcss";
body {
  font-family: "Roboto", sans-serif;
  background: #f0f1f3;
}
form {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  position: relative;
  input::placeholder {
    color: #c2c1c1;
  }
}
.active {
  color: green;
}
mat-label,
label {
  color: #737b8a;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
label {
  position: relative;
  left: 20px;
}

.mat-select-panel-animations-enabled {
  background-color: rgb(249, 246, 246) !important;
  border-radius: 24px !important;
}
.mat-datepicker-content {
  background-color: rgb(239, 236, 236) !important;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) !important;
  width: 320px !important;
}
input {
  border: 1px solid green;
  padding: 16px 24px;
  border: 1px solid #e6e9ee;
  border-radius: 16px;
  outline: none;
  &:focus {
    border: 3px solid #e6e9ee;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
